/*css of news page*/
#top{
  width: 100%;
  height: 1px;/*高さがないとリンクできないから応急処置*/
}
#news-wrapper{
  width: 100%;
  margin-top: 32rem;
  margin-bottom: 10rem;
}
#news-box{
  width: 50%;
  max-width: 60rem;
  margin-left: 30%;
  /* background-color: rgb(225,247,85,.57); */
  background-image: url(../imgs/woodsurface.svg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  box-shadow: 0 0 1px 1px white inset;
  border-top-right-radius: 15rem;
  position: relative;
}
#news-subtitle{
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: .3rem;
  font-family: "Moon";
  position: absolute;
  top: -11rem;
  left: -4.6rem;

}
#news-name{
  font-size: 1.7rem;
  line-height: 1rem;
  /* font-family: "HelveticaNeue", "HiraKakuGo", sans-serif;
  font-weight: 100; */
  position: absolute;
  top: -.6rem;
  left: -1.4rem;
}
#news-textbox{
  /* font-family: "HelveticaNeue", "HiraKakuGo", sans-serif;
  font-weight: 100; */
  font-size: 1.2rem;
  /* background-color: rgb(255,0,0,.3); */
  width: 92%;
  margin-left: 5%;
  padding-top: 3rem;
  padding-bottom: 8rem;
}
.news-header{
  margin-top: 2.5rem;
  margin-bottom: .5rem;
}
@media screen and (max-width: 896px) {
  /*タブレット以下スマホ以上*/
}
@media screen and (max-width: 480px) {
  /*スマホ*/
}
