/*共通CSS 最初に読み込む。*/
@font-face {
  font-family: "Moon";
  src: url(../fonts/MoonLight.otf);
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-Thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "HiraKakuGo";
  src: url(../fonts/HiraKakuGo_W1.ttc);
  font-weight: 200;
}
@font-face {
  font-family: "HiraKakuGo";
  src: url(../fonts/HiraKakuGo_W3.ttc);
  font-weight: 300;
}
@font-face {
  font-family: "Yumin";
  src: url(../fonts/YUMINL.TTF);
  font-weight: 300;
}

:root {
  /* カラースキームを作る 探り中。*/
  --titleblack: rgb(0, 0, 14);
  --titlehoverblue: rgb(143, 183, 193); /*rgb(94, 81, 238);*/
  --baseblack: rgb(84, 89, 90);
  --baselink: rgb(66, 115, 223);
  --basehoverblue: rgb(143, 183, 193);
  --bloodyred: rgb(
    108,
    16,
    36
  ); /* 白樺の木の皮をひっぺがした時に出るような赤黒い茶色、あるいは血の色 */
  --neutralgray: rgb(140, 140, 140);
  --snowwhite: rgb(235, 241, 249);
  --forestwhite: rgb(227, 236, 240);
  --nightnavy: rgb(191, 196, 216); /* 北の森の夜のような静かで少し怖い紺 */
  --nightnavy2: rgb(
    81,
    98,
    152
  ); /*デフォこっち。濃すぎて見えづらかったので明るくした*/
  --lemonyellow: rgb(246, 255, 77); /* レモンみたいに元気な黄色 */
  --grassgreen: rgb(
    204,
    224,
    75
  ); /* ようやく雪が溶けた春の日の森の瑞々しい下草 */
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
  color: var(--baseblack);
  background-color: white;
  font-family: "HelveticaNeue", "HiraKakuGo", sans-serif; /*ニュートラル*/
  font-weight: 100;
  letter-spacing: 0.1rem;
  /* scroll-behavior: smooth; */
}
html {
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--nightnavy2);
  border-radius: 1rem;
}

/*カラースキームは調整*/
a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--nightnavy);
  cursor: url(../imgs/icon/pointer.png), pointer;
}
a:link,
a:visited {
  color: var(--nightnavy2);
}
a:hover,
a:active {
  color: var(--bloodyred);
  transform: scale(1.1, 1.1);
}

#wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
#nav-box {
  z-index: 99; /*手前表示*/
  position: fixed;
  /* background-color: rgb(255, 0, 0, 0.2); */
  top: 0;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 0; /*ここは幅なくしちゃって、下の判定奪わないようにする。*/
}
#nav-title {
  width: 90vw;
  max-width: 40rem;
  display: block;
}
#nav-title img {
  width: 100%;
}
#nav-list {
  padding-top: 3vh;
  padding-left: 1vw;
}
#nav-list a {
  display: inline-block;
  font-family: "Moon";
  font-size: 2.7rem;
  white-space: nowrap;
  letter-spacing: 0.3vw;
  color: var(--baseblack);
  margin-bottom: 1vh;
  width: auto;

  position: relative;
}
#nav-list a::after {
  content: "";
  width: 0%; /*最初はwidth:0にする*/
  height: 2rem;
  background: var(--lemonyellow);
  position: absolute;
  bottom: -4px;
  left: 0.6rem;
  z-index: -1;
  transition: all 0.3s; /*アニメーションの長さ*/
  transform: rotate(-8deg);
  transform-origin: 50% 50%;
}
#nav-list a:hover::after {
  width: 120%; /*hover時に120%まで広がる*/
}

#copyright {
  border-top: solid 0.5px var(--nightnavy);
  /* background-color: var(--lemonyellow); */
  padding-top: 7rem;
  padding-bottom: 7rem;
  /* bottom: 1px; */
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--baseblack);
}

@media only screen and (orientation: portrait) {
}
@media screen and (max-width: 896px) {
  /*タブレット以下スマホ以上*/
}
@media screen and (max-width: 480px) {
  /*スマホ*/
  #nav-title {
    margin-left: -52vw;
    width: 80vw;
  }
  #nav-box {
    right: 12rem;
    margin-top: 4vh;
  }
  #nav-box a {
    font-size: 5.4vw;
    margin-bottom: 2vw;
  }
  #nav-list {
    padding-top: 2.7vw;
  }
  #copyright {
    font-size: 0.8rem;
  }
}
