/*css of Top page*/
/* .fix {
  position: fixed;
  width: 100vw;
  height: 100%;
}
.bg-slider {
  margin: 4.6rem 0 0 0.6rem;
  width: calc(100% - 1.2rem);
  height: calc(100% - 5.2rem);
  /*height: -webkit-fill-available - 0.6rem; /*iosのsafariでメニューバーに隠れてしまう問題解決*/
  /* background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#top-wrapper{
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: violet; */
}
.imageframe-wrapper{
  width: 80%;
  height: 100%;
  position: absolute;
  height:100vh;
  right: 0rem;
  /* bottom: 3rem; */
  align-items: center;
  /* background-color: rgb(255,0,0,.3); */
}
.imageframe{
  width: calc(100% - 5vw);
  height: 100%;
  position: absolute;
  right: 5vw;
  bottom: 5vw;
  display: flex;
  align-items: flex-end;
  /* background-color: var(--snowwhite); */
  /* padding: .5rem; */
}
.imageframe img{
  width: 100%;
  max-height: 78%;
  object-fit: cover;
}
.img-caption{
  position: absolute;
  right: 5vw;
  bottom: calc(5vw - 1rem);
  text-align: right;
  /* margin-right: -.5rem; */
}

#shortintroduction{
  position: absolute;
  /* background-color: var(--nightnavy); */
  color: var(--baseblack);
  font-size: 1.2rem;
  left: 6vw;/*navに合わせて調整*/
  top: 80vh;/*よう調整*/
  transform-origin: 0 100%;
  transform: rotate(90deg);
}

#self-introduction {
  width: 100%;
  height: 100%;
  color: rgb(252, 253, 252);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 30px;
  word-wrap: break-word;
  z-index: 999;
}

.down-arrow img {
  position: absolute;
  bottom: -3rem;
  width: 3.5rem;
  opacity: 0.9;

  /*上下アニメーション*/
  animation-name: float-arrow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.75s;
}

@keyframes float-arrow {
  /*矢印アニメーション*/
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}

@media screen and (min-width: 480px) {
  /*タブレットサイズ以降*/
  .cv-contents {
    margin-left: 15%;
    margin-right: 15%;
  }
  .name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 896px) {
  /*PCサイズ以降*/
  .cv-contents {
    margin-left: 25%;
    margin-right: 25%;
  }
}
