/*css of news page*/
#top {
  width: 100%;
  height: 1px; /*高さがないとリンクできないから応急処置*/
}
#gallery-wrapper {
  width: 65%;
  margin-left: 30%;
  margin-top: 23rem;
  margin-bottom: 10rem;
  /* background-color: rgb(225,247,85,.57); */
  position: relative;
}
#gallery-header {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  font-family: "Moon";
  position: absolute;
  top: -5.7rem;
  left: -4.6rem;
}
#gallery-headbox {
  border-left: solid 0.5px var(--nightnavy2);
  width: 100%;
  height: 5rem;
  /* background-color: rgba(247, 123, 85, 0.57); */
}
.gallery-box {
  /* max-width: 60rem; */
  /* height: 30rem; temp */
  /* background-color: rgba(247, 123, 85, 0.57); */
  border-left: solid 0.5px var(--nightnavy2);
  padding-top: 5rem;
  padding-left: 6rem;
  padding-bottom: 5rem;
}
#gallery-shows,
#gallery-works {
  position: relative;
  height: 2.4rem;
}
.gallery-subtitle {
  position: absolute;
  display: inline-block;
  top: -0.5rem;
  left: 6.3rem;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Moon";
}
.gallery-subtitleline {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  display: inline-block;
  width: 3rem;
  border-top: solid 0.5px var(--nightnavy2);
}
.gallery-thumbnail {
  display: inline-block;
  min-width: 10rem;
  width: 10vw;
  margin-right: 5rem;
  margin-bottom: 3rem;
}
.gallery-thumbnail img {
  width: 100%;
  border-radius: 10rem;
}
.gallery-thumcaption {
  width: 100%;
  /* background-color: red; */
  white-space: nowrap;
  text-align: center;
  font-family: mr-eaves-modern, "Yumin", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

/*モーダルウィンドウ関連*/
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /*ナビよりも上*/
  overflow: hidden;
  /* overflow: scroll; */
}
.modal-bg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(47, 53, 57, 0.6);
  height: 100vh;
  width: 100%;
}
.modal-content {
  background: #fff;
  left: 10%;
  position: relative;
  top: 5%;
  width: 80%;
  height: 90vh;
  overflow: scroll;
  overflow-y: overlay; /*スクロールバーをオーバーレイする。webkit対応ブラウザのみ*/
}
.js-modal-open {
  cursor: url(../imgs/icon/pointer.png), pointer;
  display: inline-block;
}

.showbox {
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: red; */
}
.showbox img {
  max-width: 100%;
  max-height: 90%;
}
.showtextbox {
  width: 35%;
  margin-left: 60%;
  margin-top: 0.6rem;
  /* background-color: red; */
  text-align: left;
}
.m-caption {
  /*モーダルウィンドウキャプション*/
  font-family: mr-eaves-modern, "Yumin", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.workbox {
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: red; */
}
.workbox img {
  max-width: 100%;
  max-height: 90%;
}
.worktextbox {
  width: 35%;
  margin-left: 60%;
  margin-top: 0.6rem;
  /* background-color: red; */
  text-align: left;
}

@media screen and (max-width: 896px) {
  /*タブレット以下スマホ以上*/
}
@media screen and (max-width: 480px) {
  /*スマホ*/
  #gallery-wrapper {
    width: 91%;
    margin-left: 8%;
  }
  #gallery-header {
    left: -1.8rem;
    font-size: 2.7rem;
  }
  .gallery-box {
    padding-left: 1.6rem;
  }
  .gallery-subtitle{
    font-size: 2.7rem;
  }
  .gallery-thumbnail {
    margin-right: 1.3rem;
    margin-bottom: 2rem;
    min-width: 24vw;
  }
  .gallery-thumcaption{
    color: var(--nightnavy2);
  }
  .modal-content {
    left: 1rem;
    width: calc(100vw - 2rem);
    top: 1rem;
    height: 80vh;
  }
}
